# ======================
# Python / venv
# ======================
.venv/
backend/.venv/
**/__pycache__/
**/*.pyc

# ======================
# DB / secrets
# ======================
backend/*.sqlite3
backend/*.db
backend/.env
frontend/.env.local
frontend/.env

# ======================
# Node / Next.js
# ======================
frontend/node_modules/
frontend/.next/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
